# This .gitignore is a merge from multiple sources:
# - the .gitignore file depicted in the PEEGS script
# - the .gitignore example from the issue on Github: https://gitlab2.cip.ifi.lmu.de/sosy-lab/peegs-ws-21/level-editor-team-1/-/issues/4

### Java ###
*.class

# Package Files
*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Gradle ###
# Ignore Gradle project-specific cache directory
.gradle
**/build/
!src/**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Ignore IntelliJ default output directory (usually not used with gradle, just in case)
out

# Ignore IntelliJ IDE folders
.idea/workspace.xml
.idea/uiDesigner.xml
.idea/dictionaries
.idea/findbugs-idea.xml
.idea/junitgenerator-prj-settings.xml
.idea/vcs.xml
